{% extends "base.html.twig" %}

{% block body %}
    <p>
    <ul>
        <li> HandoSensei Rank : {{ token.rank }}</li>
        <li> Score : {{ token.score|number_format(3) }}</li>
    </ul>
    </p>
    <p>
    <table>
        {% for tokenAttribute in tokenAttributes %}
            <tr>
                <td>{{ tokenAttribute.attribute.traitType.name }}</td>
                <td>{{ tokenAttribute.attribute.value }}</td>
                <td>{{ tokenAttribute.attribute.percent|number_format(3) }}%</td>
            </tr>
        {% endfor %}
    </table>
    </p>

{% endblock %}



