{{ include('app/partials/main.html.twig') }}
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {{ include('app/partials/title-meta.html.twig', {title: 'Hando Homepage'}) }}

        <!--Swiper slider css-->
        <link href="/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

        {{ include('app/partials/head-css.html.twig') }}

    </head>
    <body>
        <div id="layout-wrapper">

            {{ include('app/partials/menu.html.twig') }}
            <div class="main-content">
                {% block body %}{% endblock %}
            </div>
            {{ include('app/partials/footer.html.twig') }}
        </div>

        {{ include('app/partials/vendor-scripts.html.twig') }}
        <!-- prismjs plugin -->
        <script src="/libs/prismjs/prism.js"></script>
        <script src="/libs/list.js/list.min.js"></script>
        <script src="/libs/list.pagination.js/list.pagination.min.js"></script>

        <!-- listjs init -->
        <script src="/js/pages/listjs.init.js"></script>

        <!-- Sweet Alerts js -->
        <script src="/libs/sweetalert2/sweetalert2.min.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>
    </body>
</html>
